
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C#</title>
</head>
<body>
<h1>Tham số truyền vào: @ViewBag.Mess</h1>
</body>
</html>
