@model Bai_4_MVCWebApp.Models.SinhVienNet104
@*Using model*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSV</title>
</head>
<body>
<h1>Chào các bjan đến với ViewSV trong FPOLYNET104 CONTROLLER</h1>
<h1>@Model.Id</h1>
<h1>@Model.Msv</h1>
<h1>@Model.Name</h1>
</body>
</html>
