
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Tham số truyền vào: @ViewBag.Mess</h1>

<h1>@Url.Action()</h1>
<h1>@Url.ActionLink()</h1>
<h1>@Url.Action("add",1)</h1>
</body>
</html>
