
@{
    Layout = "_Layout";
}

<h1>CheckOut</h1>

<h3>Đơn hàng cần thanh toán</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Tổng số tiền phải thanh toán</th>
    </tr>
    <tr>
        <td>
            @ViewBag.total
        </td>
    </tr>
</table>
<br />